
<!doctype html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}NyasaEsports{% endblock %}</title>


  <div class="header">


  </div>

  <nav>
    <ul class="nav">
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="game">Game</a></li>
      <li><a href="news">News</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="profile">Profile</a></li>
      <a href="{% url 'login' %}" class="login-button btn btn-primary">Login</a>
      <a href="{% url 'register' %}" class="register-button btn btn-primary">Register</a>
    </ul>
  </nav>

  {% block head %}


  {% endblock %}
</head>

<body>

  {% block content %}


  {% endblock %}
</body>

</html>