<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Game</title>
    </head>
    <body>
        <h1>Games</h1>
        <p>Welcome to the Game Page</p>
        <ul>
            <li>
            warzone
            fifa2023
            pubg
           </li>
        </ul>
        <a href="{% url 'home' %}">Home</a>
    </body>
</html>

