{% extends 'games/base.html' %}

{% load static %}
{% block head %}
 <link rel="stylesheet" href="{% static 'games/main.css' %}">
 <img src="{% static 'games/images/nyasa logo-07.png' %}" alt="logo" class="logo"> 
 <img src="{% static 'games/images/12643221_5040007_dunkel.jpg' %}" class="background">
 <img src="{% static 'games/images/Foto2.jpg' %}" class="image3">
 <img src="{% static 'games/images/Foto6.jpg' %}" class="image4">
 <img src="{% static 'games/images/Foto1.jpg' %}" class="image5">


 <h1 class="heading">We are the first esports website in Malawi!</h1>
 
 
 
{% endblock %}

{% block content %}
<img src="{% static 'games/images/nyasa text-06-06-05.png' %}" class="image2">



{% endblock %}